<div id="map-canvas"></div>

<div id="new_task_control" class="d-none">
  {{outlet "new-task"}}
</div>

<div id="scheduled_tasks_control" class="d-none">
  {{outlet "scheduled-tasks"}}
</div>

<div id="context_menu" class="d-none">
  {{outlet "context-menu"}}
</div>
