<div id="ssp-ui" class="ui">
  <div class="map_panel_controls">
    <img src="img/minimize_window16.png">
  </div>

  <div id="clock" class="toggleable">
    Lunes, Enero 10 2014, 15:30
  </div>

  <div id="ssp-list" class="toggleable">
              
  </div>
</div>
