// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

table.index_grid td.driver_status,
table.index_grid td.role {
  padding: 10px;
}

table.index_grid td.driver_status div,
table.index_grid td.role div {
  text-align: center;
  height: 40px;
  background-color: #E3E3E3; 
  line-height: 3.2em;
  border-radius: 6px;
}
