@import "bootstrap";

div#feedback-dialogue {
    position: absolute;
    top: 5px;
    left: 30px;
    z-index: 1000;
    font-size: 1.3em;
    font-wight: bold;
    text-align: center;
    background-color: #D0FFD2;
    color: #550101;
    border: 10px solid #73EC8A;
    border-width: 5px 10px;
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
}