
$control-background-color: #C2D5FF;

div#map-canvas {
    position: absolute;
    top: 62px;
    bottom: 10px;
    padding: 10px 0px;
    width: 100%; 
    margin: auto; 
    border: 1px solid black;
}

.controlDiv {
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;                          
    font-size: 1.3em;
}

.controlDiv .ui {
    background-color: #C2D5FF;
    border-radius: 5px;                          
}

/* Scheduled Service Panel */

#ssp #ssp-ui {
    text-align: center;                            
    width: 175px;                             
}

#ssp-ui #ssp-list {
    margin-top: 4px;
    overflow: auto;
}

/* New Service Form */

#nsf #nsf-ui {
    text-align: center;                           
    width: 800px; 
    overflow: hidden;
}

#nsf #nsf-ui .nsf-col {
    padding: 7px;
    text-align: left;
}
#nsf #nsf-ui #col1,
#nsf #nsf-ui #col2,
#nsf #nsf-ui #col3 {
    border: 1px solid #A9A9FF;
    border-radius: 3px;
    margin: 0px 5px 5px 5px;
    display: table-cell;
    float: left;
    height: 200px;
}
#nsf #nsf-ui #col4 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    clear: left;
}

#nsf #nsf-ui .nsf-col label {
    padding-left: 3px;
    margin-top: 4px;
}

#nsf #nsf-ui .nsf-col input, 
#nsf #nsf-ui .nsf-col textarea {
    padding-left: 3px;
    margin-top: 5px;
}

input#a-coords,
input#b-coords,
input#select-driver {
    background-color: lightgray;
}
textarea#comments {
    resize: none; 
    border: solid 2px lightgray;
}

/* Map control's controls */

#ssp-controls, 
#nsf-controls {
    text-align: right;
}
#ssp-controls img, 
#nsf-controls img {
    cursor: pointer;
    padding: 2px;
}
