
div#map-canvas {
    position: absolute;
    top: 62px;
    bottom: 10px;
    padding: 10px 0px;
    width: 100%; 
    margin: auto; 
    border: 1px solid black;
}

.controlDiv {
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;                          
}

/* Scheduled Service Panel */

#ssp #ssp-ui {
    background-color: rgba(0, 0, 0, 0.5);    
    border-radius: 5px;                          
    text-align: center;                            
    width: 150px;                             
    max-height: 200px;
}

#ssp-ui #ssp-list {
    margin-top: 4px;
    overflow: auto;
}

/* New Service Form */

#nsf #nsf-ui {
    background-color: rgb(217, 250, 252); 
    border-radius: 5px;                          
    text-align: center;                           
    width: 800px; 
}

#nsf #nsf-ui .nsf-col {
    float: left;
    padding: 5px;
    height: 200px;                                
    text-align: left;
}

#ssp-controls, #nsf-controls {
    text-align: right;
}
#ssp-controls, #nsf-controls img {
    cursor: pointer;
}
