<header>
  <div>
    <div class="container">
      <nav>
          <%= link_to "Home",    '#' %>
          <%= link_to "Help",    '#' %>
          <%= link_to "Sign in", '#' %>
      </nav>
    </div>
  </div>
</header>
